DB_HOST=<>
DB_USER=<>
DB_PASSWORD=<>
DB_NAME=<>
PORT=<>
MONGO_INITDB_DATABASE=<>
MONGO_INITDB_ROOT_USERNAME=<>
MONGO_INITDB_ROOT_PASSWORD=<>
MONGODB_DB=<>
MONGODB_USER=<>
MONGODB_PASSWORD=<>
DB_MODE=<>